/**************************
 * Form elements
 **************************/
input,
textarea,
select {
    background-color: $grey-1;
    border: 1px solid $grey-2;
    border-radius: 4px;
    max-width: 100%;
    padding: $sp-3xs $sp-xs;
    transition: all .25s ease-in-out;
    
    &::placeholder {
        color: $grey-5;
    }
    
    &:hover,
    &:focus {
        background-color: $grey-2;
        box-shadow: 0 0 2px 2px $grey-3;
        outline: none;
    }
}

textarea {
    width: 100%;
}

button,
.button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    align-items: center;
    background-color: $grey-9;
    border: 1px solid $grey-9;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: $sp-3xs $sp-xs;
    text-decoration: none;
    transition: all .25s ease-in-out;
        
    &:hover,
    &:focus {
        background-color: $grey-7;
        box-shadow: 0 0 2px 2px $grey-3;
    }

    &:focus {
        outline: 1px solid $grey-9;
    }

    &:visited {
        color: #fff;
    }
    
    &.button-secondary {
        background-color: transparent;
        border-color: $grey-9;
        color: $grey-9;
    }

    &.button-tertiary {
        background-color: transparent;
        border: none;
        color: $grey-9;
        text-decoration: underline;
    }

    svg {
        fill: currentcolor;
        margin-left: $sp-3xs;
    }
}

.is-style-outline {
    .wp-block-button__link {
        background-color: transparent;
        border-color: $grey-9;
        color: $grey-9;
    }
}

input[type="checkbox"],
input[type="radio"]{
    margin: 0 $sp-3xs;
}

.big-button .wp-block-button__link {
    padding: $sp-sm $sp-md;
}
