/***********************************
 * Pagination and posts navigation 
 ***********************************/
.navigation,
.pagination {
    background-color: white;
}

.nav-links,
.page-links {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    font-size: $txt-sm;
    justify-content: center;
    margin-bottom: $sp-xl;
    padding: $sp-sm 0;
    text-transform: uppercase;
    @media screen and (min-width: $lg){
        padding: $sp-md 0;
    }
}

.comment-navigation .nav-links {
    padding-left: 0;
    padding-right: 0;
}

.page-links a,
.nav-links a,
.current {
    align-items: center;
    display: inline-flex;
    margin: 0 $sp-3xs;
    padding: 0 $sp-2xs;
}

.current {
    background: $grey-900;
    color: white;
}

.link-text {
    margin: 0 $sp-3xs;
}

.nav-previous,
.nav-next {
    align-items: center;
    display: flex;
    a {
        margin: 0;
    }
}

.nav-previous {
    margin-right: auto;
}

.nav-next {
    margin-left: auto;
}

@media screen and ( max-width: $sm ){
    .prev span,
    .next span {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        width: 1px;
        word-wrap: normal !important;
    }
}
