/**************************
* Widgets
**************************/ 
.widgets-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));    
    grid-gap: $sp-md;
    max-width: none;
}

.widget {
    background-color: #fff;
    border-top: 8px solid $grey-900;
    padding: $sp-sm;
    @media screen and (min-width: $lg){
        padding: $sp-md;
    }
}

.widget-title {
    display: block;
    word-break: break-all;
}

.widget_nav_menu {
    .sub-menu,
    .children {
        position: static;
        opacity: 1;
        visibility: visible;
        padding: 0 0 0 $sp-sm;
    }
}
